body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    border-radius: 25px;
    box-shadow: -10px 15px 100px 0px rgba(0, 0, 0, 0.5);
}

.logout-button {
    width: 15%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(73, 73, 73);
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logout-button:hover {
    cursor: pointer;
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 1);
    width: 17%;
    height: 5.5%;
}

.logout-button:active {
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    width: 15%;
    height: 5%;
}

.anwesend {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(73, 73, 73);
    background-color: rgb(101, 255, 87);
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 200%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.anwesend:hover {
    cursor: pointer;
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 1);
    width: 66%;
    height: 22%;
}

.anwesend:active {
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    width: 66%;
    height: 22%;
}

#dateElement {
    margin-left: 1vh;
    margin-right: 1vh;
    text-decoration: underline;
}

.gesperrt {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(73, 73, 73);
    background-color: rgb(255, 87, 87);
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 200%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.background-button {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #494949;
    background-color: #474554;
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 200%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.background-button:hover {
    cursor: pointer;
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 1);
    width: 66%;
    height: 22%;
}

.background-button:active {
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    width: 66%;
    height: 22%;
}

.admin-button {
    background-color: #3926b3;
}